name: automerge
on:
  pull_request_target

jobs:
  automerge:
    runs-on: ubuntu-latest
    steps:
      - name: automerge
        uses: "pascalgn/automerge-action@v0.16.4"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          MERGE_LABELS: "dependencies,!wip,!work in progress,!do not merge"
          MERGE_RETRIES: 3
          MERGE_RETRY_SLEEP: 90000
          MERGE_DELETE_BRANCH: true
