name: .NET Core build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  release:
    types: [published]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4.1.1
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v3.2.0
      with:
        dotnet-version: 3.1.101
    - name: Install dependencies
      working-directory: ./PreMailer.Net
      run: dotnet restore
    - name: Build
      working-directory: ./PreMailer.Net
      run: dotnet build --configuration Release --no-restore
    - name: Test
      working-directory: ./PreMailer.Net
      run: dotnet test --no-restore --verbosity normal --collect "Code coverage"

    # Publish
    - name: publish on version change
      if: ${{ github.event_name == 'release' }}
      uses: rohith/publish-nuget@v2.5.5
      with:
        PROJECT_FILE_PATH: PreMailer.Net/PreMailer.Net/PreMailer.Net.csproj
        NUGET_KEY: ${{secrets.NUGET_APIKEY}}
